body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #CEE39D;
}

.comic {
    height: 15000px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform:translateX(-50%);
    width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

@media screen and (max-width: 375px) {
 .comic {
     width: 300px;
     height: auto;
 }
}